@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";
.app-header {
  @include flex(row, space-between);
  padding-block-start: rem(50px);
  .header-logo {
    @include logo;
    cursor: pointer;
    &.light {
      color: #333;
    }
  }
  .user-profile {
      @include flex;
      gap: rem(14px);
      .coins {
        @include flex;
        gap: rem(7px);
        i {
          color: $gold;
        }
      }


      .darkmode-btn {
        @include flex;
        cursor: pointer;
        img {
          width: 20px;
        }
      }
      
      .profile-img {
        border: 2px solid $grey;
        border-radius: 50%;
        width: 37px;
        height: 37px;
      }
      p {
          font-size: rem(18px);
          color: $grey;
      }
      &.light {
        color: #333;
        >* {
          color: #333;
        }
        .coins {
          p {
            color: #333;
          }
          i {
            color: #333;
          }
        }
      }
  }
}
