@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.home-page {
  @media (max-width: 1400px) {
    margin-block-end: rem(40px);
  }
  display: grid;
  grid-gap: rem(20px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(10px, auto);
  grid-template-areas: "home home home moves"
                        "home home home moves"
                        "home home home coins";
  
  @media (max-width: 1400px) {
        grid-template-areas: "home home home home"
                              "home home home home"
                              "coins coins moves moves";
  }

  @media (max-width: 660px) {
       grid-template-areas: "home home home home"
                            "coins coins coins coins"
                            "moves moves moves moves"
 }

  .moves {
    grid-area: moves;
    min-height: 260px;
    min-width: 300px;
    @media (max-width: 1400px) {
      min-height: 100%;
    }
  }
  .other-coins {
    grid-area: coins;
  }

  .home-container {
    grid-area: home;
    // width: 900px;
    // @media (max-width: 1300px) {
    //   width: 800px;
    // }
    // @media (max-width: 1110px) {
    //   width: 100%;
    // }
  }

  margin-block-start: rem(50px);
  .home-container,
  .moves,
  .other-coins {
    @include container;
  }
  .home-container {
    padding: rem(45px);
    ul {
      @include flex(row, space-between);
      margin-block-end: rem(45px);
      @media (max-width: 1100px) {
        gap: rem(30px);
      }
      @media (max-width: 550px) {
        flex-direction: column;
      }
      li {
        @include flex;
        @media (max-width: 940px) {
          flex-direction: column;
        }
        gap: rem(10px);
        .symbol {
          width: 60px;
          height: 60px;
          @include flex;
          justify-self: flex-start;
          background-color: $small-container;
          border-radius: 14px;
          @media (max-width: 520px) {
            // display: none;
          }
          img {
            width: 32px;
          }
          i {
            font-size: rem(32px);
          }
        }
        .stats-information {
          p {
            font-size: rem(14px);
          }
          h2 {
            font-size: rem(24px);
            font-family: inter-bold;
            @media (max-width: 1100px) {
              font-size: rem(16px);
            }
          }
        }
      }
    }
    .chart-container {
      @media (max-width: 940px) {
        display: none;
      }
      h2 {
        font-family: inter-semi;
        font-size: rem(20px);
        margin-block-end: rem(20px);
      }
    }
  }
    .moves,
    .other-coins {
      padding: rem(20px) rem(30px) rem(30px) rem(30px);
      height: 100%;
    }
    .other-coins {
      max-height: 250px;
      padding: rem(20px) rem(10px) rem(5px) rem(20px);
      h1 {
        font-size: rem(18px);
        margin-block-end: rem(20px);
      }
      ul {
        @include scrollbar;
        @include flex(column, flex-start, space-between);
        max-height: 160px;
        overflow-y: auto;
        .coin {
          @include flex(row, space-between);
          img {
            width: 24px;
          }
          p {
            padding-inline-end: rem(12px);
          }
          .coin-left {
            @include flex;
            gap: rem(10px);
            p {
              text-transform: uppercase;
            }
          }
        }
        .coin:not(:first-child) {
          margin-block-end: rem(20px);
        }
      }
    }
}
