@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.transfer-fund {
  @include input;
  label {
    margin-block-start: rem(10px);
    padding: rem(10px);
    border-radius: 10px;
    border: 2px solid white;
    .input-container {
      @include flex;
      div {
        position: relative;
        .send {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
        }
        input {
          width: 100%;
          border-bottom: none;
          margin-inline-start: rem(10px);
        }
      }
     
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
