<section class="main-app main-layout">
  <app-header (switchTheme)="switchTheme($event)"></app-header>
  <section class="app-container">
    <nav>
      <ul class="navbar">
        <li>
          <a
            class="nav-btn"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fa-solid fa-chart-line"></i><span>Profile</span></a
          >
        </li>
        <li>
          <a class="nav-btn" routerLink="contacts" routerLinkActive="active">
            <img *ngIf="lightmode" src="../../../assets/images/trade-dark.png" />
            <img
            *ngIf="!lightmode"
              src="../../../assets/images/trade.png"
            /><span>Trade</span></a
          >
        </li>
        <li>
          <a class="nav-btn" routerLink="dashboard" routerLinkActive="active">
            <img
            *ngIf="lightmode"
              src="../../../assets/images/dashboard-dark.png"
            />
            <img *ngIf="!lightmode" src="../../../assets/images/dashboard.png" />

            <span>Dashboard</span></a
          >
        </li>
        <li class="deposite-btn" (click)="deposite = true">
          <a class="nav-btn"
            ><img
            *ngIf="lightmode"
              src="../../../assets/images/donate-dark.png"
            />
            <img *ngIf="!lightmode" src="../../../assets/images/donate.png" />
            <span>Deposite</span></a
          >
        </li>
        <li class="logout" (click)="logout()">
          <a class="nav-btn"
            ><img
            *ngIf="lightmode"
              src="../../../assets/images/logout-dark.png"
            />
            <img *ngIf="!lightmode" src="../../../assets/images/logout.png" />
            <span>Log Out</span></a
          >
        </li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
  <section class="deposite" *ngIf="deposite === true">
    <div class="deposite-container">
      <span (click)="deposite = false"><i class="fa-solid fa-x"></i></span>
      <div *ngIf="loading === false && done === false">
        <h1>Deposite Ethereum</h1>
        <label
          >Amount:
          <input
            type="number"
            [(ngModel)]="amount"
            name="amount"
            min="0"
            max="99"
            placeholder="ETH"
          />
          <i class="fa-brands fa-ethereum"></i>
        </label>
        <button (click)="onDeposite()">Deposite</button>
      </div>

      <div class="loading" *ngIf="loading === true" class="lottie-container">
        <ng-lottie
          width="100%"
          height="200px"
          [options]="loadingAnimation"
        ></ng-lottie>
        <h2>Loading...</h2>
      </div>

      <div class="done" *ngIf="done === true" class="lottie-container">
        <ng-lottie
          width="100%"
          height="200px"
          [options]="doneAnimation"
        ></ng-lottie>
        <h2>Done!</h2>
      </div>
    </div>
  </section>
</section>
