@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.main-app {
    min-height: 100vh;
    .app-container {
        display: flex;
        gap: rem(35px);
        @media(max-width: 800px) {
            gap: rem(20px);
        }
        main {
            margin: auto;
        }
        nav {
            margin-block-start: rem(50px);
            ul {
                @include flex(column, center, flex-start);
                gap: rem(18px);
                font-size: 18px;
                color: $grey;
                li {
                    a {
                        padding-inline-start: 25px;
                        width: 200px;
                        height: 50px;
                        @include flex(row, flex-start);
                        gap: rem(20px);
                        img {
                            width: 22px;
                        }

                    }
                }
                .logout {
                    cursor: pointer;
                }
                @media (max-width: 800px) {

                    li {
                        a {
                            padding: rem(10px) rem(15px);
                            width: 100%;
                        }
                        span {
                            display: none;
                        }
                    }
                }   
            }
        }
    }
}