@font-face {
    src: url(../../fonts/Roboto-Bold.ttf);
    font-family: roboto-bold;
}

@font-face {
    src: url(../../fonts/Inter-Bold.ttf);
    font-family: inter-bold;
}

@font-face {
    src: url(../../fonts/Inter-Medium.ttf);
    font-family: inter-medium;
}

@font-face {
    src: url(../../fonts/Inter-SemiBold.ttf);
    font-family: inter-semi;
}

@font-face {
    src: url(../../fonts/Urbanist-Black.ttf);
    font-family: urbanist-black;
}

@font-face {
    src: url(../../fonts/Urbanist-Regular.ttf);
    font-family: urbanist-regular;
}