@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.contact-details {
    h1 {
        @include title;
        @media(max-width: 1100px) {
            margin-block-start: rem(50px);
        }
        @media(max-width: 500px) {
            font-size: rem(25px);
        }
    }
    .contact-container {
        @include flex(row, center, _);
        gap: rem(30px);
        @media(max-width: 960px) {
            flex-direction: column;
            gap: rem(10px);
        }
    }
    .contact-info, .transfer-fund, .move-list {
        @include container;
        padding: rem(30px);
    }

    .transfer-fund, .move-list {
        width: 280px;
        @media(max-width: 960px) {
            width: 100%;
        }
    }
    .move-list {
        min-height: 330px;
    }

    .contact-info {
        .profile {
            display: flex;
            margin: auto;
            padding-block-end: rem(40px);
            width: 300px;
            @media(max-width: 500px) {
                width: 150px;
            }
        }
        .email, .phone {
            width: 24px;
        }
        p {
            @include flex(row, flex-start);
            gap: rem(20px);
            margin-block-end: rem(10px);
            @media(max-width: 500px) {
               font-size: rem(14px);
            }
        }
    }

    .trade-container {
        @include flex(column, flex-start);
        gap: rem(40px);
        height: 100%;
        @media(max-width: 960px) {
            gap: rem(10px);
        }
    }
    button {
        @include button;
        display: flex;
        margin: rem(20px) auto;


    }
}