@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.contact-list {
    .contact-list-header {
        @include flex(row, space-between);
        padding: rem(20px) 0;
        a {
            @include flex;
            gap: rem(5px);
            img {
                width: 20px;
            }
        }
    }
    min-height: 450px;
    min-width: 900px;

    @media (max-width: 1200px) {
        min-width: 700px;
    }

    @media (max-width: 1000px) {
        min-width: 500px;
        padding: rem(10px);
    }
    max-width: 1200px;
    @include container;
    padding: rem(45px);
    padding-block-start: 0;
    div {
        @include flex;
        flex-wrap: wrap;
        gap: rem(45px);
    }
}